.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html,
body,
#root,
#root > div {
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  /* height: 100%; */
}

/* new design */

.gridContainer {
  height: 100%;
}

.carousel-root {
  height: 100%;
  flex: 1;
}

.carousel {
  z-index: 0;
  height: 100%;
}
.slider-wrapper {
  height: 100%;
}

.slider {
  height: 100%;
}

@media (min-width: 321px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .carouselGrid {
    height: 40%;
  }
  .loginMain {
    width: 100%;
    height: 100%;
  }
  .loginContainer {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .loginMain {
    /* background: yellow; */
    width: 100%;
    /* height: 100%; */
    /* center a div insie another div*/
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .loginContainer {
    width: 80%;
    padding: 10px;
    background: white;
    /* box-shadow: 3px 3px 5px 6px #ccc; */
    color: red;
  }
  .carouselGrid {
    height: 50%;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  .carouselGrid {
    height: 100%;
  }
  /* hi-res laptops and desktops */
}
/* .slide {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* .carousel.carousel-slider {
  .control-arrow {
      padding: 15%;
      opacity: 0%;
  }
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
